<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Show Page</title>
</head>
<body>
    <div>
    <h1>Show Page</h1>
    <div class ="container">
        <div class ="content flex-center">
        <img src="<%=productObj.img%>" alt="<%=productObj.name%>" />
        <ul>
            <li> <h3><%=productObj.name%></h3></li>
            <li><%=productObj.description%></li>
            <li>Price: $<%=productObj.price%></li>
            <li>Quantity: <%=productObj.qty%></li>
        </ul>
    </div>
    <form class ="flex-center" action="/flowers/<%=productObj._id%>/buy?_method=PUT" method="POST">
        <label for="amt">Amount</label>
        <input type="number" name="qty" id="amt">
        <input type="submit" value="BUY">
    </form>
    <nav class ="flex-center"><a href="/flowers/<%=productObj._id%>/edit">EDIT</a></nav><br>
    <form class ="flex-center" action="/flowers/<%=productObj._id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE" /><br>
    </form>
    <nav class ="flex-center"><a href="/">BACK</a></nav>
</div>
</div>
</body>
</html>